.starwars-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.starwars-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375;
    color: #464646;
}
.starwars-enlace {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #2A7AE4;
    
}
.starwars-caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
